 <section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
  <div class="my-auto">
    <h1 class="mb-0">Ahmet Alperen
      <span class="text-primary">FAKI</span>
    </h1>
    <div class="subheading mb-5">Beşevler Mah. Yıldırım Cad. Platin Park Sitesi no:309 A blok D:7 · Nilufer, Bursa · (535) 702-7918 ·
      <a href="mailto:alperenfaki@gmail.com">alperenfaki@gmail.com</a>
     
    </div>
    <!-- <p class="mb-5">I aim to be a successful engineer via merging training at work with my education. I am eager to work efficiently and interested in fulfilling the responsibilities of position. My strong attention to details and meticulously working feature ensure that I am productive and efficient professional. I am conscientious in my personal and professional life.
      I intent to be an engineer which follows closely the developing technology. I am accustomed to a fast-paced environment where deadlines are a priority and handling multiple jobs simultaneously is a requirement. I enjoy a challenge and work hard to attain my goals. I am a quick learner and highly adaptable to change, as well as take pride in each assignment ensuring efficient quality service.
      Constant communication with all levels of management has strengthened my interpersonal skills.</p>   -->
    <ul class="list-inline list-social-icons mb-0">
      <li class="list-inline-item">
        <a href="#">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </li>
      <li class="list-inline-item">
        <a href="#">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </li>
      <li class="list-inline-item">
        <a href="#">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </li>
      <li class="list-inline-item">
        <a href="#">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-github fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </li>
    </ul>
  </div>
</section> 

